@font-face {
    font-family: ProximaNovaRegular;
    src: url(fonts/ProximaNova-Reg.otf);
    font-weight: 400;
    font-style: normal    
}

@font-face {
    font-family: ProximaNovaLight;
    src: url(fonts/ProximaNova-Light.otf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: ProximaNovaBold;
    src: url(fonts/ProximaNova-Bold.otf);
    font-weight: 400;
    font-style: normal    
}

@font-face {
    font-family: ProximaNovaExCondTh;
    src: url(fonts/proximanovaexcn-thin.otf);
    font-weight: 400;
    font-style: normal    
}

@font-face {
    font-family: ProximaNovaExCondBold;
    src: url(fonts/proximanovaexcn-bold.otf);
    font-weight: 400;
    font-style: normal    
}